:root {
background-color: #324691;
}

body{
    min-height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
}
.contenedorFormulario{
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 40px;
    height: 90vh;
    width: 70vw;
}

.formulario{
   
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   row-gap: 30px;
}

.datosform{
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    color:#1A1B26;
}

h1{
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 52px;
    text-align: center;
    color: #324691;
}

input{
    font-size: 30px;
    height: 60px;
    border-radius: 16px;
    border: none;
    background-color: #dfe8f5;
    margin-left: 10px;
}


#btnGenerar{
    height: 80px;
    width: 300px;
    margin-left: 80px;
    font-size: 30px;
    background-color: #324691;
    color: white;
    border-radius: 15px;
    border: 1px solid rgb(131, 4, 4);
}
#btnLimpiar{
    height: 80px;
    width: 180px;
    margin-left: 0px;
    font-size: 30px;
    color: rgb(131, 4, 4);
    border-radius: 15px;
    border: 1px solid rgb(131, 4, 4);
}


.fotocontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgbote{
    height: 75vh;
    object-fit: cover;
}

.labelform{
    font-weight: bold;
    
}